.path-grade-export-ilp_push {
    .gradingtable {
        > thead,
        > tbody:nth-child(odd) {
            background-color: rgba(0, 0, 0, 0.03);
        }
        > tbody:hover {
            background-color: rgba(0, 0, 0, 0.06);
        }
        td {
            padding-top: 8px;
            padding-bottom: 8px;

            &.grade {

                .letter {
                    padding-top: 8px;
                    display: inline-block;
                }
                .notequal {
                    padding-top: 2px;
                    float: right;
                    font-size: 150%;
                    color: red;
                }
            }
        }

        .userinfo {
            width: 1%;
            white-space: nowrap;
            img.userpicture {
                vertical-align: top;
            }

            .userdetails {
                display: inline-block;
                padding-right: 15px;

                .fullname {
                    display: inline-block;
                }
                .username,
                .userid,
                .courseid {
                    font-size: 85%;
                    color: #555;
                }

                .gradeline {
                    float: right;
                }
            }

        }

        .grademode .currentgrademode {
            filter: brightness(150%);
            border-bottom-style: dashed;
            border-bottom-width: 1px;
            cursor: pointer;
            font-size: 80%;
        }
        .historytable .grademode .currentgrademode {
            cursor: auto;
            border-bottom-width: 0;
        }
        .checkbox {
            padding-top: 15px;
            padding-left: 20px;
            display: block;

            input {
                width: auto;
            }
            @supports (zoom:2) {
                input[type=checkbox] {
                    zoom: 2;
                }
            }
            @supports not (zoom:2) {
                input[type=checkbox] {
                    transform: scale(2);
                    margin: 15px;
                }
            }
        }

        .hidetopborder {
            border-top: none;
        }

        .statuscontainer {
            padding: 10px;
            border-radius: 10px;

            text-align: center;
            .statusicon {
                font-size: 150%;
            }
        }

        .statusmessage {
            .statusmessagebox {
                padding: 10px;
                border-radius: 10px;
            }
        }

        .historyrow .historycell {
            &.hide {
                display: none;
            }
            .historydiv {
                overflow: hidden;
            }
            .historytable {
                width: 100%;
                margin-bottom: 0.5rem;

                .labelvalue {
                    &:not(:last-child) {
                        margin-bottom: .3rem;
                    }

                    label {
                        font-weight: bold;
                        margin-bottom: 0;
                    }
                    label::after {
                        content: ":";
                        padding-right: 5px;
                    }
                    .value {
                        white-space: nowrap;
                    }
                }

                .statuscontainer {
                    padding: 5px;
                    border-radius: 5px;

                    .statusicon {
                        font-size: 100%;
                    }

                    .statustext {
                        display: inline;
                    }
                }

                .statusmessage {
                    .statusmessagebox {
                        padding: 5px;
                        border-radius: 5px;
                    }
                }
            }
        }

        .bannergradeselect {
            input[type=date] {
                width: auto;
            }
        }
    }


}
