

.path-grade-export-ilp_push {
    .gradingtable {
        td {
            padding-top: 8px;
            padding-bottom: 8px;
        }
        
        .spacerrow {
            display:none;
        }
        
        .statusmessage {
            border-top: none;
        }
        
//         .status {
//             position: relative;
//             
//             .statuscontainer {
//                 border-radius: 10px;
//             }
// 
//             .statuscontainer.combinedstatus {
//                 padding: 10px 8px 0px 8px;
//                 margin-bottom: 0px;
//                 position: absolute;
//                 top: 8px;
//                 left: 0px;
//                 height: 100%;
//                 
//                 border-radius: 10px 10px 0px 0px;
//             }
//             
//         }
//         .statusflex {
//             display: flex;
//             flex-flow: column;
//             height: 100%;
//             .statuscontainer {
//             
//             }
//             
//             .statuscontainer.combinedstatus {
//             
//             }
//             
//             .statusfiller {
//                 flex-grow: 1;
//             }
//             
//         }

        .statuscontainer {
            padding: 10px;
            border-radius: 10px;
            
            text-align: center;
            .statusicon {
                font-size: 150%;
            }
        }
        
        .statusmessage {
            
            .statusmessagebox {
                padding: 10px;
               
                border-radius: 10px;
            }
        }
        
        .userinfo {
            img.userpicture {
                vertical-align: top;
            }
            
            .userdetails {
                display: inline-block;
        
                .fullname {
                    
                }
                .username, .userid, .courseid {
                    font-size: 85%;
                    color: #555;
                }
            }
        }
        
        .bannergradeselect {
            input[type=date] {
                width: auto;
            }
        }
    }
    

}

