{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template gradeexport_ilp_push/user_row

    The transcript course table.

    Example context (json):
    {
        "actionurl": "https://example.com/mod/forum/search.php",
        "courseid": "2",
        "words": "apples",
        "phrase": "Lorem ipsum dolor",
        "notwords": "Not these words",
        "showfullwords": [
            {
                "fullwords": "Exactly"
            }
        ],
        "datefromchecked": 1,
        "datetochecked": "",
        "forumoptions": [
            {
                "name": "Forum One",
                "value": "23"
            },
            {
                "name": "Forum Two",
                "value": "34"
            }
        ],
        "subject": "Help me please",
        "user": "Helpy McUser"
    }
}}



<tr class="usergraderow status-normal" data-row-id="{{{formid}}}" data-user-id="{{{userid}}}">
    <td class="userinfo">
        {{{userimage}}}
        <div class="userdetails">
            <div class="fullname">{{{fullnamelink}}}</div>
            <div class="username">{{username}}</div>
            <div class="userid">G00012345</div>
        </div>
    </td>
    <td class="grade">
        <div class="real">{{gradereal}}</div>
        <div class="percent">{{gradepercent}}</div>
    </td>
    <td class="grade">
        <div class="letter">{{gradeletter}}</div>
    </td>
    <td class="bannergradeselect">
        {{{gradeselect}}}
        {{{gradeerror}}}
        <div class="fail {{^showfailing}}hide{{/showfailing}}">
            <div class="datelastattended">
                <label>Date Last Attended</label><input type="date" name="datelastattended-{{{formid}}}" value="{{{datelastattended}}}"{{#locked}} disabled{{/locked}}>
                {{{datelastattendederror}}}
            </div>
        </div>
        <div class="incomplete {{^showincomplete}}hide{{/showincomplete}}">
            <div class="incompletedeadline">
                <label>Incomplete Deadline</label><input type="date" name="incompletedeadline-{{{formid}}}" value="{{{incompletedeadline}}}"{{#locked}} disabled{{/locked}}>
                {{{incompletedeadlineerror}}}
            </div>
            <div class="incompletegrade">
                <label>Incomplete Default Grade</label>{{{incompletegradeselect}}}
                {{{incompletegradeerror}}}
            </div>
        </div>
    </td>
    <td>
        <input type="checkbox" class="mycheckbox form-control" name="confirm-{{{formid}}}"{{#locked}} disabled{{/locked}}>
    </td>
    <td>
        ICON<br>Status-{{status}}
    </td>
</tr>

