{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template gradeexport_ilp_push/user_row

    The transcript course table.

    Example context (json):
    {
        "actionurl": "https://example.com/mod/forum/search.php",
        "courseid": "2",
        "words": "apples",
        "phrase": "Lorem ipsum dolor",
        "notwords": "Not these words",
        "showfullwords": [
            {
                "fullwords": "Exactly"
            }
        ],
        "datefromchecked": 1,
        "datetochecked": "",
        "forumoptions": [
            {
                "name": "Forum One",
                "value": "23"
            },
            {
                "name": "Forum Two",
                "value": "34"
            }
        ],
        "subject": "Help me please",
        "user": "Helpy McUser"
    }
}}



<tr class="usergraderow {{#locked}}locked{{/locked}}{{{classes}}}" data-row-id="{{{formid}}}" data-user-id="{{{userid}}}">
    <td rowspan={{userrowspan}} class="userinfo">
        {{{userimage}}}
        <div class="userdetails">
            <div class="fullname">{{{fullnamelink}}}</div><div class="gradeline">{{{gradelink}}}</div>
            <div class="username">{{username}}</div>
            {{#userdisplayid}}<div class="userid">{{userdisplayid}}</div>{{/userdisplayid}}
            <div class="courseid">{{courseilpid}}</div>
            {{#historycount}}
            <div class=togglehistory>
                <a href="#">{{# str }} show_history, gradeexport_ilp_push, {{historycount}} {{/ str }}</a>
            </div>
            {{/historycount}}
        </div>

    </td>
    <td class="grade">
        <div class="real">{{gradereal}}</div>
        <div class="percent">{{gradepercent}}</div>
    </td>
    <td class="grade">
        <div class="letter" data-grade-key="{{truegradekey}}">{{gradeletter}}</div><div title="{{# str }} grade_not_eqaul, gradeexport_ilp_push {{/ str }}" class="notequal {{#equal}}hide{{/equal}}">&#8800;</div>
    </td>
    <td class="bannergradeselect">
        <div class="grademode">
            <div>
                <span class="currentgrademode">{{grademodename}}</span>
            </div>
            <div class="grademodeselect hide">
                {{{grademodeselect}}}
            </div>
        </div>
        {{{gradeselect}}}
        <input type="hidden" name="grademodeid-{{{formid}}}" value="{{{grademodeid}}}">
        <span class="gradeerror">{{{gradeerror}}}</span>

        <div class="fail {{^showfailing}}hide{{/showfailing}}">
            <div class="datelastattended">
                <label>{{# str }} date_last_attended, gradeexport_ilp_push {{/ str }}</label><input type="date" name="datelastattended-{{{formid}}}" value="{{{datelastattended}}}"{{#locked}} disabled{{/locked}}>
                <span class="datelastattendederror">{{{datelastattendederror}}}</span>
            </div>
        </div>
        <div class="incomplete {{^showincomplete}}hide{{/showincomplete}}">
            <div class="incompletedeadline">
                <label>{{# str }} incomplete_deadline, gradeexport_ilp_push {{/ str }}</label><input type="date" name="incompletedeadline-{{{formid}}}" value="{{{incompletedeadline}}}"{{#locked}} disabled{{/locked}}>
                <span class="incompletedateerror">{{{incompletedeadlineerror}}}</span>
            </div>
            <div class="incompletegrade">
                <label>{{# str }} incomplete_default_grade, gradeexport_ilp_push {{/ str }}</label>{{{incompletegradeselect}}}
                <span class="incompletegradeerror">{{{incompletegradeerror}}}</span>
            </div>
        </div>
    </td>
    <td class="">
        <label class="checkbox">
            <input type="checkbox" class="confirmcheckbox form-control" name="confirm-{{{formid}}}"{{#locked}} disabled{{/locked}}>
            <span class="checkmark"></span>
        </div>
    </td>
    <td class="status">
        {{{status}}}
    </td>
</tr>
{{#statusmessage}}
    <!-- This is just a space row used to keep the even/off rows correct. -->
    <tr class="spacerrow" style="visibility:hidden" aria-hidden="true" data-row-id="{{{formid}}}" data-user-id="{{{userid}}}">
        <td colspan="6" class="spacerrow">&nbsp;</td>
    </tr>

    <tr class="statusmessagerow" data-row-id="{{{formid}}}" data-user-id="{{{userid}}}">
        <td colspan="5" class="statusmessage">            
            {{{statusmessage}}}
        </td>
    </tr>
{{/statusmessage}}

{{#historycount}}
    <!-- This is just a space row used to keep the even/off rows correct. -->
    <tr class="spacerrow" style="visibility:hidden" aria-hidden="true" data-row-id="{{{formid}}}" data-user-id="{{{userid}}}">
        <td colspan="6" class="spacerrow">&nbsp;</td>
    </tr>
    <tr class="historyrow" id="historyrow-{{{formid}}}">
        <td colspan="5" class="historycell hide">
            <div class="historydiv hide">
            {{> gradeexport_ilp_push/user_row_history }}
            </div>
        </td>
    </tr>
{{/historycount}}
